# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.spec
output/

# Virtual environment
venv/
env/
.venv/

# VS Code / IDE
.vscode/
.idea/
*.swp
